strict-peer-dependencies=false
scripts-prepend-node-path=true

# Force the use of `~` as the prefix when installing a new package
# See https://pnpm.io/npmrc#save-prefix for more details
save-prefix='~'

# Force to use the node & pnpm version defined in the package.json file
engine-strict=true

hoist=false
